<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block style %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body class="container-fluid">
<div class="row justify-content-center">
    {{ include('blog/_navbar.html.twig') }}
    <div class="p-4 col-md-10 mt-5">


            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-success">
                <p>{{ message }}</p>
            </div>
        {% endfor %}


        <div class="row">
            <h2>
                <span class="fa fa-home">Hello</span>
                <button class="btn-danger">Yolo</button>
            </h2>
            {% block body %}{% endblock %}
            {% block sidebar %}{% endblock %}
        </div>

    </div>
</div>

</body>
</html>
